/*html { height:100%; max-height:100%; }*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    font-family: "Montserrat";
}
.App {
    text-align: center;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}
.App-intro {
    font-size: large;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.header {
    height: 7.65em;
    position: relative;
    -ms-align-items: stretch;
    align-items: stretch;
    border-bottom: 1px solid #AAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header__body {
    padding: 50px 50px 0px 50px;
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.flex-container {
    padding: 0 100px;
    margin: 0;
    list-style: none;
    /*border: 1px solid silver;*/
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex__item {
    width: 300px;
    height: 300px;
    margin: 10px;
    color: white;
    font-size: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
}
.flex__item__text {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex__item__score {}
.flex__item__bottom {
    color: black;
    background-color: #EAF2EF;
    border-top-right-radius: 100%40px;
    border-top-left-radius: 100%40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wrap li {
    background: #223843;
}
.selectors {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    /*-webkit-justify-content: flex-start;
    align-content: flex-start;*/
    justify-content: center;
}
.selector {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
.selector select {
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
}
.selector::before, .selector::after {
    content: "";
    position: absolute;
    pointer-events: none;
}
.selector::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}
.selector::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}
.selector__branch {
    background-color: #1abc9c;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selector__program {
    background-color: #1abc9c;
}
.selector__time {
    background-color: #1abc9c;
}
.selector__sorting {
    background-color: #CF5600
}
.sort {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    align-content: flex-end;
}
.button {
    outline: none;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #FF6B35;
    color: #FF6B35;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 0px 5px 50px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.button:hover {
    color: white;
    background-color: #FF6B35;
}
.button:active {
    letter-spacing: 2px;
}
.button:after {
    content: "SUBMIT";
}
#logo {
    display: block
}
.button-old {
    border: none;
    border-radius: 3px;
    color: white;
    width: 100%;
    font-size: large;
}